:root {
  --font: "Space Grotesk Variable", monospace;

  --radius: 0.5rem;
  --border: 1.5px;
  --padding: 0.5rem;

  --color-bg-body: rgb(14, 14, 18);
  --color-bg-element: rgb(22, 22, 26);
  --color-bg-hover: rgb(36, 38, 40);

  --color-border: rgb(42, 42, 46);

  --color-fg-focus: rgb(240, 240, 240);
  --color-fg-text: rgb(210, 210, 210);
  --color-fg-selected: rgb(190, 190, 190);
  --color-fg-dim: rgb(120, 120, 120);

  --transition-hover: 100ms ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;

  font-family: var(--font);
  font-size: 15px;

  outline: none;
}

body,
html {
  position: absolute;

  width: 100%;
  height: 100%;
  margin: 0;

  color-scheme: dark;
}

body {
  color: var(--color-fg-text);
  background: var(--color-bg-body);
}

h1,
h2 {
  font-weight: 700;
  color: var(--color-fg-focus);
}

h1 {
  padding: var(--padding) 0;
  font-size: 1.2rem;
}

h2 {
  padding: calc(var(--padding) * 0.75) 0;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-fg-text);
}

p {
  font-size: 0.9rem;
  font-weight: 400;
}

b {
  font-weight: 600;
  color: var(--color-fg-focus);
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  height: var(--border);
  margin: var(--padding);
  border-bottom: var(--border) solid var(--color-border);
}

button,
input,
textarea {
  background: transparent;
}

input,
textarea {
  color: var(--color-fg-text);

  &::placeholder {
    color: var(--color-fg-dim);
  }

  &:focus {
    font-weight: 500;
    color: var(--color-fg-focus);
  }
}

button {
  user-select: none;
  font-weight: 500;
  color: var(--color-fg-dim);
}

textarea {
  resize: none;
}

.material-symbols-outlined {
  user-select: none;

  direction: ltr;
  display: inline-block;

  font-family: "Material Symbols Outlined Variable";
  font-size: 1.25rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
}
